*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Handlee', cursive;
    background-color: #e9e0e0;
    display: grid;
    align-items: center;
    height: 100vh;
}

.principal{
    display: grid;
    justify-content: center;
    border: 1px solid #1b19190e;
    border-radius: 1rem;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    background-color: rgba(245, 245, 245, 0.527);
    box-shadow: 5px 9px 13px rgba(0, 0, 0, 0.082);
}

.principal-h1 h1{
    text-align: center;
    color: #1b1919;
    font-size: 1.5rem;
    margin-bottom: 20px;

}

.principal-adicionar{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

.principal-adicionar-input input{
    height: 40px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid #1b191936;
    font-family: 'Handlee', cursive;
    font-size: 1rem;
    padding-left: 14px;
}

.principal-adicionar-input input::placeholder{
    color: #1b191985;
    font-size: 1rem;
    padding-left: 10px;
}

.principal-adicionar-input input:focus{
    outline: none;
    border: 1px solid #3a7d4444;
    box-shadow: 0 0 5px #3a7d448f;
}

.principal-botao button{
    height: 40px;
    border: 1px solid #1b191936;
    border-radius: 10px 5px 10px 5px;
    background-color:#3a7d44e1 ;
    color: white;
    font-size: 1rem;
    padding: 5px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Handlee', cursive;
}

.principal-botao button:hover{
    background-color: #3A7D44;
    color: white;
    border: 1px solid #3A7D44;
    box-shadow: 0 0 5px #3a7d44a9;
}

.new-task{
    display: grid;
    grid-template-columns: 1fr auto auto ;
    font-size: 1rem;
    margin-top: 20px;
    border: 1px solid #1b191936;
    border-radius: 10px; 
    padding: 10px;
}

.img{
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.alerta {
  background-color: #f44336;
  font-family: 'Handlee', cursive;
  color: white;
  padding: 10px;
  border-radius: 6px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.oculto {
  display: none;
}

.btn{
    border: none;
}

.btn img:hover{
    cursor: pointer;
    transform: scale(1.1);
}